$primary-font: helevtica, sans-serif;
$secondary-font: helevtica, sans-serif;

$primary-color: #474747;
$primary-color-darker: #2c2c2c;
$secondary-color: #eb175d;

$big-text-color: #e2e2e2;
$small-text-color: #b9b9b9;

$small-text: 100%;
$medium-text: 150%;
$large-text: 200%;

a {
    text-decoration: none;
    color: white;
}


