$primary-font: JetBrainsMono, sans-serif;
$secondary-font: helevtica, sans-serif;

$primary-color: #2c2c2c;
$primary-color-lighter: #474747;
$secondary-color: #eb175d;

$big-text-color: #e2e2e2;
$small-text-color: #b9b9b9;

$small-text: 1rem;
$medium-text: 1.5rem;
$large-text: 2rem;

@font-face {
    font-family: 'font-one';
    src: url('../JetBrainsMono-VariableFont_wght.ttf'); /* IE9 Compat Modes */
    // src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //      url('webfont.woff') format('woff'), /* Modern Browsers */
    //      url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    //      url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

  @font-face {
    font-family: 'font-two';
    src: url('../IBMPlexSans-Regular.ttf'); /* IE9 Compat Modes */
    // src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //      url('webfont.woff') format('woff'), /* Modern Browsers */
    //      url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    //      url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

a {
    text-decoration: none;
    color: white;
}

html {
    background-color: $primary-color;
    font-size: 150%;
    font-family: font-one;
}

body::-webkit-scrollbar {
    width: 0.2rem;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: $primary-color;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $secondary-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    // border: 3px solid $primary-color-darker;  /* creates padding around scroll thumb */
  }

  svg {
    cursor: pointer;
}

li {
  color: $small-text-color;
  list-style-type: none;
  font-size: $small-text;
}

p {
  color: $small-text-color;
  font-size: $small-text;
}


.img-overlay {
  background-color: $secondary-color;
  height: inherit;
  width: inherit;
  transition: all 1s;
  opacity: 0.5;
  border-radius: 0.25rem;

}
.img-overlay:hover {
  background-color: transparent;
}
  
.reveal {
  position: relative;
  scroll-margin-top: 5rem;
  transform: translateY(5rem);
  opacity: 0;
  transition: 2s all ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
  }



.active-link {
  color: white;
}



@media only screen and (max-width: 600px) {
  html {
    background-color: $primary-color;
    font-size: 100%;
    font-family: font-one;
  }
}






// .button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: font-one;
//   height: 4em;
//   width: 12em;
//   background-color: transparent;
//   color: $secondary-color;
//   border: 2px solid $secondary-color;
//   border-radius: 0.5em;
//   cursor: pointer;
//   margin: 1rem;
//   font-size: 1rem;

//   transition: all 0.5s
// }

// .button:hover {
//     background-color: $secondary-color;
//     color: white;
// }






.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 50px 250px;
  text-decoration: none;

  font-family: font-one;
  height: 4em;
  width: 12em;

  text-align: center;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;

  transition: all 0.5s;
}

.button:hover {
  color: white;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 2rem solid $secondary-color;
  border-bottom: 2rem solid $secondary-color;
  border-right: 2rem solid transparent;


  transition: all 0.5s;
  z-index: -1;
  transform: translateX(-100%);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 2rem solid $secondary-color;
  border-bottom: 2rem solid $secondary-color;
  border-left: 2rem solid transparent;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(100%);
}

.button:hover::before,
.button:hover::after {
  transform: translateX(0);
}







  