@use './base' as var;






/////////////////////////////////////
//                        SPLASHSCREEN
////////////////////////////////////
#splash-screen {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    svg {
        position: relative;
        fill: var.$secondary-color;
        width: 20vw;
        animation: splash-screen-svg-fade-in 1.5s;
    }
}

@keyframes splash-screen-svg-fade-in {
    from { 
        opacity: 0;
        transform: translateY(-20vh);
     }
    to { 
        opacity: 1;
        transform: translateY(0);
     }
}

/////////////////////////////////////
//                        HEADER
////////////////////////////////////
#header {
    animation: splash-screen-svg-fade-in 0.5s;
    position: fixed;
    color: var.$secondary-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var.$primary-color;
    // background-color: red;
    // height: 9vh;
    top: 0;
    z-index: 1;
    transition: top 0.2s;
    svg {
        fill: var.$secondary-color;
        transition: all 0.5s;
    }
    svg:hover {
        fill: white;
    }
}
#grid-container .hidden {
    top: -20vh;
}

nav {
    display: flex;
    justify-content: flex-start;
    ul {
        display: inline;
    }

    li {
        margin: 1em;
        cursor: pointer;
        color: var.$secondary-color;
        display: inline;
        transition: all 0.25s;
        
    }
    li:hover {
        color: white;
        
    }

    label {
        display: none;
    }
    #hamburger {
        display: none;
    }
    #ham-items {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        margin-right: 4rem;
        padding:0;
    }
}
    


.icon {
    fill: var.$secondary-color;
    transition: all 0.25s;
}
.icon:hover {
    fill: white;
}

/////////////////////////////////////
//                        RESUME
////////////////////////////////////

#resume {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    #resume-container {
        display: flex;
        margin-top: 2rem;

    }
    label {
        margin-left:1rem;
        position: relative;
        //top:0;
        color: white;
        // right: 25rem;
        height: 0.5rem;
        width: 0.5rem;
        cursor: pointer;

    }
    div {
        //position: relative;
        display: flex;
        justify-content: center;
    }
}

.resume-hide {
    display: none;
}



/////////////////////////////////////
//                        HERO
////////////////////////////////////
#hero {
    opacity: 0;
    animation: splash-screen-svg-fade-in 0.5s forwards 1s;

    h1 {
        // font-family: JetBrainsMono;
        color: var.$big-text-color;
        font-size: var.$large-text;
    }
    h3 {
        
        color: var.$secondary-color;
        font-size: var.$medium-text;
        // font-family: IBMPlexSans-Regular;
    }
    #hero-buttons {
        display: flex;
        //flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    // width: 30vw;
    justify-content: center;

}

/////////////////////////////////////
//                        ABOUT
////////////////////////////////////

#about {
    h1 {
        color: white;
    }
    li {
        color: var.$small-text
    }
    div {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }
    #head-shot{
        background-image: url("../portfolioPicture.png");
        height: 20rem;
        width: 20rem;
        border-radius: 0.25rem;
        background-position: center;
        background-color: #cccccc; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        filter: grayscale(0.25);
    }

    margin-bottom: 20vh;


}

/////////////////////////////////////
//                        EXPERIENCE
////////////////////////////////////


#experience {
    color: white;
    h1 {
    }
    h2 {

        span {
            color: var.$secondary-color;
        }
    }
    ul {
        padding: 0;
    }
    li {
        color: var.$small-text-color;
        list-style-type: disc;
        margin: 1rem;

    }
    margin-bottom: 20vh;
}

/////////////////////////////////////
//                        PORTFOLIO
////////////////////////////////////


#portfolio {
    h1{
        color: var.$big-text-color;
        font-size: var.$large-text;
        margin-bottom: 1rem;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h2 {
            font-size: var.$medium-text;
            color: var.$big-text-color;
        }
        h3 {
            font-size: var.$small-text;
            color: var.$secondary-color;
        }
    }
    p {
        background-color: var.$primary-color-lighter;
        position: relative;
        width: 110%
    }

    .featured-project {
        color: var.$secondary-color;
    }
    .portfolio-outside-links{
        flex-direction: row;
    }
    .portfolio-website-img {
        // background-image: url("../rcf-homepage.png");
        // filter: grayscale(0.25);
        // border-radius: 0.25rem;
    }
    .portfolio-outside-links {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        //align-items: center;
        a {
            margin: 1rem;
        }
    }
    margin-bottom: 20vh;
}

/////////////////////////////////////
//                        CONTACT
////////////////////////////////////



#contact {
    h1 {
        color: white;

    }
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        width: 60%;
    }

    svg {
        // border: 2px solid var.$secondary-color;
        // border-radius: 100%;
        padding: 20px;
        margin: 20px;
        fill: var.$secondary-color;
        transition: all 0.5s;
    }

    svg:hover {
        border-color: white;
        fill: white;
    }

    #contact-details {
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        input {
            color: white;
            font-size: var.$small-text;
            height: 1.5rem;
            margin: 1rem;
            width: auto;
            background: none;
            border: none;
            border-bottom: 0.2rem solid var.$primary-color-lighter;
            transition: all 0.5s;

        }
        input::placeholder {
            color: transparent;
        }
        
        input:placeholder-shown ~ .label {
            cursor: text;
            top: 1rem;
        }
        input:focus-visible {
            outline: none;
        }
        label {
            color: white;
            display: block;
            background: transparent;
            position: absolute;
            height: 1.5rem;
            top: -0.25rem;
            left: 1rem;
            z-index: -1;
            transition: all 0.5s;
        }
        input:focus {
            ~ .label {
                top: -0.25rem;
                color: var.$secondary-color;
                // background-color: var.$primary-color;
            }
            border-bottom: 0.2rem solid var.$secondary-color;
        }

    }

    #message {
        display: flex;
        flex-direction: column;
        position: relative;
        textarea {
            color: white;
            font-size: var.$small-text;
            height: 100%;
            margin: 1rem;
            width: auto;
            //background-color: var.$primary-color-lighter;
            background: none;
            border: none;
            border-bottom: 0.2rem solid var.$primary-color-lighter;
            transition: all 0.5s;
        }
        textarea:focus-visible {
            outline: none;
        }
        label { 
            color: white;
            background: transparent;
            position: absolute;
            height: 1.5rem;
            // margin: 1rem;
            top: -0.25rem;
            left: 1rem;
            z-index: -1;
            transition: all 0.5s;
        }
        textarea::placeholder {
            color: transparent;
        }
        
        textarea:placeholder-shown ~ .label {
            cursor: text;
            top: 1rem;
        }
        textarea:focus {
            ~ .label {
                top: -0.25rem;
                color: var.$secondary-color;
                //background-color: var.$primary-color;
            }
            border-bottom: 0.2rem solid var.$secondary-color;
        }

    }
    input[type="submit"] {

        height: inherit;
        width: inherit;
        background: none;
        color: var.$secondary-color;
        border: none;
        // border-radius: 20px;
        // color: var.$secondary-color;
        // font-size: var.$small-text;
        transition: all 0.5s;
        font-family: font-one;
        font-size: 100%;
    }
    input[type="submit"]:hover {
        // background-color: var.$secondary-color;
        color: white;
        cursor: pointer;
    }
    margin-bottom: 20vh;
}



form {
    // grid-column: 1 /span 2;
    #contact-details {
        display: flex;
        flex-direction: column;
        // grid-column: 1 / span 1;
        // grid-row: 2 / span 2;
    }

    #message {
        display: flex;
        flex-direction: column;
    }
    #submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #submit div{
        //padding-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 20%;
        // width: 40%;
        position: relative;
    }
    .button {
        margin-bottom: 0;
    }
}

.message-success {
    background-color: green;
    color: white;
    margin-top: 0;
    position: absolute;
    width: 11rem;
    transition: all 0.2s;
    margin: 0;
    top: 0;
    border: solid 2px transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hide-message {
    opacity: 0;
}

.message-fail {
    background-color: red;
    margin-top: 0;
    color: white;
    position: absolute;
    width: 11rem;
    transition: all 0.2s;
    margin: 0;
    top: 0;
    border: solid 2px transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/////////////////////////////////////
//                        ASIDE
////////////////////////////////////

#aside {
    bottom: 0;
    left: -1%;
    position: fixed;
    ul {
        li{
            margin:1em;
        }
        margin: 1em;
        padding: 0;
    }
}


/////////////////////////////////////
//                        FOOTER
////////////////////////////////////

#footer {
    display: flex;
    justify-content: center;
}






@media only screen and (max-width: 900px) {
    #hero #hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header {
        position: fixed;
        // top: 0;
        left: 0;
        height: 10vh;
        //z-index: 2;
        padding: 1rem;
        justify-content: space-around;
        width: 100%;
        
    }

    nav {
        //width: 100%;
        width: 3rem;
		display: flex;
		//justify-content: flex-end;
		label {
            //width: 100%;
            // height:100%;
			display:flex; 
			color: var.$secondary-color;
			font-style: normal;
			font-size: 2.5em;
			margin: 0;
		}
		#hamburger {
            //width: 100%;
            // height:100%;
			display: block;
            visibility: hidden;
		}
        // .show-burger-button {
        //     display: block;
        // }
	}
    #ham-items-container {
        overflow: hidden;
        position: absolute;
        // z-index: 3;
        // display: none;
        top: 10vh;
        margin-top:1rem;
        left: 0;
        height: 100vh;
        width: 100%;
        display: none;
        //background-color: bisque;
        //animation: hamburger-appear 0.5s forwards;
    }
    nav #ham-items {
        // overflow: hidden;
        li {
            font-size: 140%;
        }
        font-weight: 1000;
        letter-spacing: 0.25rem;
		padding: 0;
        margin: 0;
		position: absolute;
        background-color: $primary-color;
		z-index: 1;
        left:0;
		//top: 5vh;
		display: none;
        //opacity: 1;
        //justify-content: center;
        align-items: center;
		flex-direction: column;
		height: 100vh;
		width:100%;
        // transform: translate(100%, -100%); 
        animation: hamburger-appear 0.5s forwards;
        // transition-delay: 2s;
        // transition: all 0.5s;
		// a{
		// 	display: flex;
		// 	justify-content: center;
		// 	width: 100vw;
		// }
	}

	nav input:checked ~ #ham-items-container #ham-items {
		display: flex;
		// transform: translate(0, 0); 
		// opacity: 1;
	}
    nav input:checked ~ #ham-items-container {
        display: flex;
        
    }

    @keyframes hamburger-appear {
        // from { transform: translate(100%, -100%); }
        // to { transform: translate(0, 0); }
        from {
            opacity: 0;
            transform: translateY(-100%);
            
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // animation: appear 0.5s forwards;
    // @keyframes appear {
    //     from {
    //         opacity: 0;
    //     }
    //     to {
    //         opacity: 1;
    //     }
    // }

    #about {
        ul {
            padding: 0;
        }

    }


    #portfolio {
        display: flex;
        flex-direction: column;
        .portfolio-website-img {
            margin:0;

        }
        P {
            width: 100%;
        }
        h1 {
            order: 1;
        }
        .featured-project {
            order: 2;
        }
        .portfolio-website-img-container {
            order: 3;
        }
        .project-info {
            order: 4;
        }


    }
    #contact {
        P {
            width:100%;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        svg {
            //display: none;
        }


    }

    #aside {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        ul {
            display: inline;
        }
        li {
            display: inline;
        }
    }





}



@media only screen and (max-width: 375px) {
    #hero #hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}