#header {
    background-color: orangered;
    width: 100%;
}

#hero {
    background-color: orchid;

}


#about {
    background-color: blueviolet;

}


#experience {
    background-color: burlywood;

}

#portfolio {
    background-color: bisque;

}

#contact {
    background-color: greenyellow;

}

#footer {
    background-color: goldenrod;

}

#aside {
    background-color: purple;

}