@font-face {
  font-family: "font-one";
  src: url("../JetBrainsMono-VariableFont_wght.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "font-two";
  src: url("../IBMPlexSans-Regular.ttf");
  /* IE9 Compat Modes */
}
a {
  text-decoration: none;
  color: white;
}

html {
  background-color: #2c2c2c;
  font-size: 100%;
  font-family: font-one;
}

body::-webkit-scrollbar {
  width: 0.2rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #eb175d;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

svg {
  cursor: pointer;
}

li {
  color: #b9b9b9;
  list-style-type: none;
  font-size: 1rem;
}

p {
  color: #b9b9b9;
  font-size: 1rem;
}

.img-overlay {
  background-color: #eb175d;
  height: inherit;
  width: inherit;
  transition: all 1s;
  opacity: 0.5;
  border-radius: 0.25rem;
}

.img-overlay:hover {
  background-color: transparent;
}

.reveal {
  position: relative;
  scroll-margin-top: 5rem;
  transform: translateY(5rem);
  opacity: 0;
  transition: 2s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.active-link {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 100%;
  font-family: font-one;
  height: 4rem;
  width: 12rem;
  text-align: center;
  color: #eb175d;
  border: 0.2rem solid #eb175d;
  border-radius: 0.5em;
  position: relative;
  transition: all 0.5s;
}

.button:hover {
  color: white;
  background-color: #eb175d;
  cursor: pointer;
}

input {
  color-scheme: dark;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 22rem;
  }
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 20rem;
  }
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 18rem;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 30rem;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 22rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 20rem;
  }
}
@media only screen and (max-width: 414px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 16rem;
  }
}
.portfolio-website-img-container {
  width: 100%;
}

.portfolio-website-img {
  background-image: url("../rcf-homepage.png");
  position: relative;
  width: 100%;
  height: 24rem;
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: "font-one";
  src: url("../JetBrainsMono-VariableFont_wght.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "font-two";
  src: url("../IBMPlexSans-Regular.ttf");
  /* IE9 Compat Modes */
}
a {
  text-decoration: none;
  color: white;
}

html {
  background-color: #2c2c2c;
  font-size: 100%;
  font-family: font-one;
}

body::-webkit-scrollbar {
  width: 0.2rem;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #eb175d;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

svg {
  cursor: pointer;
}

li {
  color: #b9b9b9;
  list-style-type: none;
  font-size: 1rem;
}

p {
  color: #b9b9b9;
  font-size: 1rem;
}

.img-overlay {
  background-color: #eb175d;
  height: inherit;
  width: inherit;
  transition: all 1s;
  opacity: 0.5;
  border-radius: 0.25rem;
}

.img-overlay:hover {
  background-color: transparent;
}

.reveal {
  position: relative;
  scroll-margin-top: 5rem;
  transform: translateY(5rem);
  opacity: 0;
  transition: 2s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.active-link {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-decoration: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 100%;
  font-family: font-one;
  height: 4rem;
  width: 12rem;
  text-align: center;
  color: #eb175d;
  border: 0.2rem solid #eb175d;
  border-radius: 0.5em;
  position: relative;
  transition: all 0.5s;
}

.button:hover {
  color: white;
  background-color: #eb175d;
  cursor: pointer;
}

input {
  color-scheme: dark;
}

@media only screen and (max-width: 1800px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 22rem;
  }
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 20rem;
  }
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 18rem;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 30rem;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 22rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 20rem;
  }
}
@media only screen and (max-width: 414px) {
  html {
    font-size: 100%;
  }

  .portfolio-website-img-container .portfolio-website-img {
    height: 16rem;
  }
}
.portfolio-website-img-container {
  width: 100%;
}

.portfolio-website-img {
  background-image: url("../rcf-homepage.png");
  position: relative;
  width: 100%;
  height: 24rem;
  background-position: center;
  background-size: cover;
}

#splash-screen {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#splash-screen svg {
  position: relative;
  fill: #eb175d;
  width: 20vw;
  animation: splash-screen-svg-fade-in 1.5s;
}

@keyframes splash-screen-svg-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#header {
  animation: splash-screen-svg-fade-in 0.5s;
  position: fixed;
  color: #eb175d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2c2c2c;
  top: 0;
  z-index: 1;
  transition: top 0.2s;
}
#header svg {
  fill: #eb175d;
  transition: all 0.5s;
}
#header svg:hover {
  fill: white;
}

#grid-container .hidden {
  top: -20vh;
}

nav {
  display: flex;
  justify-content: flex-start;
}
nav ul {
  display: inline;
}
nav li {
  margin: 1em;
  cursor: pointer;
  color: #eb175d;
  display: inline;
  transition: all 0.25s;
}
nav li:hover {
  color: white;
}
nav label {
  display: none;
}
nav #hamburger {
  display: none;
}
nav #ham-items {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-right: 4rem;
  padding: 0;
}

.icon {
  fill: #eb175d;
  transition: all 0.25s;
}

.icon:hover {
  fill: white;
}

#resume {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
#resume #resume-container {
  display: flex;
  margin-top: 2rem;
}
#resume label {
  margin-left: 1rem;
  position: relative;
  color: white;
  height: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
}
#resume div {
  display: flex;
  justify-content: center;
}

.resume-hide {
  display: none;
}

#hero {
  opacity: 0;
  animation: splash-screen-svg-fade-in 0.5s forwards 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero h1 {
  color: #e2e2e2;
  font-size: 2rem;
}
#hero h3 {
  color: #eb175d;
  font-size: 1.5rem;
}
#hero #hero-buttons {
  display: flex;
}

#about {
  margin-bottom: 20vh;
}
#about h1 {
  color: white;
}
#about li {
  color: 1rem;
}
#about div {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
#about #head-shot {
  background-image: url("../portfolioPicture.png");
  height: 20rem;
  width: 20rem;
  border-radius: 0.25rem;
  background-position: center;
  background-color: #cccccc;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  filter: grayscale(0.25);
}

#experience {
  color: white;
  margin-bottom: 20vh;
}
#experience h2 span {
  color: #eb175d;
}
#experience ul {
  padding: 0;
}
#experience li {
  color: #b9b9b9;
  list-style-type: disc;
  margin: 1rem;
}

#portfolio {
  margin-bottom: 20vh;
}
#portfolio h1 {
  color: #e2e2e2;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#portfolio div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#portfolio div h2 {
  font-size: 1.5rem;
  color: #e2e2e2;
}
#portfolio div h3 {
  font-size: 1rem;
  color: #eb175d;
}
#portfolio p {
  background-color: #474747;
  position: relative;
  width: 110%;
}
#portfolio .featured-project {
  color: #eb175d;
}
#portfolio .portfolio-outside-links {
  flex-direction: row;
}
#portfolio .portfolio-outside-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#portfolio .portfolio-outside-links a {
  margin: 1rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}
#contact h1 {
  color: white;
}
#contact p {
  text-align: center;
  width: 60%;
}
#contact svg {
  padding: 20px;
  margin: 20px;
  fill: #eb175d;
  transition: all 0.5s;
}
#contact svg:hover {
  border-color: white;
  fill: white;
}
#contact #contact-details {
  justify-content: space-between;
}
#contact #contact-details div {
  display: flex;
  flex-direction: column;
  position: relative;
}
#contact #contact-details input {
  color: white;
  font-size: 1rem;
  height: 1.5rem;
  margin: 1rem;
  width: auto;
  background: none;
  border: none;
  border-bottom: 0.2rem solid #474747;
  transition: all 0.5s;
}
#contact #contact-details input::placeholder {
  color: transparent;
}
#contact #contact-details input:placeholder-shown ~ .label {
  cursor: text;
  top: 1rem;
}
#contact #contact-details input:focus-visible {
  outline: none;
}
#contact #contact-details label {
  color: white;
  display: block;
  background: transparent;
  position: absolute;
  height: 1.5rem;
  top: -0.25rem;
  left: 1rem;
  z-index: -1;
  transition: all 0.5s;
}
#contact #contact-details input:focus {
  border-bottom: 0.2rem solid #eb175d;
}
#contact #contact-details input:focus ~ .label {
  top: -0.25rem;
  color: #eb175d;
}
#contact #message {
  display: flex;
  flex-direction: column;
  position: relative;
}
#contact #message textarea {
  color: white;
  font-size: 1rem;
  height: 100%;
  margin: 1rem;
  width: auto;
  background: none;
  border: none;
  border-bottom: 0.2rem solid #474747;
  transition: all 0.5s;
}
#contact #message textarea:focus-visible {
  outline: none;
}
#contact #message label {
  color: white;
  background: transparent;
  position: absolute;
  height: 1.5rem;
  top: -0.25rem;
  left: 1rem;
  z-index: -1;
  transition: all 0.5s;
}
#contact #message textarea::placeholder {
  color: transparent;
}
#contact #message textarea:placeholder-shown ~ .label {
  cursor: text;
  top: 1rem;
}
#contact #message textarea:focus {
  border-bottom: 0.2rem solid #eb175d;
}
#contact #message textarea:focus ~ .label {
  top: -0.25rem;
  color: #eb175d;
}
#contact input[type=submit] {
  height: inherit;
  width: inherit;
  background: none;
  color: #eb175d;
  border: none;
  transition: all 0.5s;
  font-family: font-one;
  font-size: 100%;
}
#contact input[type=submit]:hover {
  color: white;
  cursor: pointer;
}

form #contact-details {
  display: flex;
  flex-direction: column;
}
form #message {
  display: flex;
  flex-direction: column;
}
form #submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form #submit div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
form .button {
  margin-bottom: 0;
}

.message-success {
  background-color: green;
  color: white;
  margin-top: 0;
  position: absolute;
  width: 11rem;
  transition: all 0.2s;
  margin: 0;
  top: 0;
  border: solid 2px transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hide-message {
  opacity: 0;
}

.message-fail {
  background-color: red;
  margin-top: 0;
  color: white;
  position: absolute;
  width: 11rem;
  transition: all 0.2s;
  margin: 0;
  top: 0;
  border: solid 2px transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#aside {
  bottom: 0;
  left: -1%;
  position: fixed;
}
#aside ul {
  margin: 1em;
  padding: 0;
}
#aside ul li {
  margin: 1em;
}

#footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  #hero #hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header {
    position: fixed;
    left: 0;
    height: 10vh;
    padding: 1rem;
    justify-content: space-around;
    width: 100%;
  }

  nav {
    width: 3rem;
    display: flex;
  }
  nav label {
    display: flex;
    color: #eb175d;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
  }
  nav #hamburger {
    display: block;
    visibility: hidden;
  }

  #ham-items-container {
    overflow: hidden;
    position: absolute;
    top: 10vh;
    margin-top: 1rem;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
  }

  nav #ham-items {
    font-weight: 1000;
    letter-spacing: 0.25rem;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #2c2c2c;
    z-index: 1;
    left: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    animation: hamburger-appear 0.5s forwards;
  }
  nav #ham-items li {
    font-size: 140%;
  }

  nav input:checked ~ #ham-items-container #ham-items {
    display: flex;
  }

  nav input:checked ~ #ham-items-container {
    display: flex;
  }

  @keyframes hamburger-appear {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #about ul {
    padding: 0;
  }

  #portfolio {
    display: flex;
    flex-direction: column;
  }
  #portfolio .portfolio-website-img {
    margin: 0;
  }
  #portfolio P {
    width: 100%;
  }
  #portfolio h1 {
    order: 1;
  }
  #portfolio .featured-project {
    order: 2;
  }
  #portfolio .portfolio-website-img-container {
    order: 3;
  }
  #portfolio .project-info {
    order: 4;
  }

  #contact P {
    width: 100%;
  }
  #contact form {
    display: flex;
    flex-direction: column;
  }
  #aside {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #aside ul {
    display: inline;
  }
  #aside li {
    display: inline;
  }
}
@media only screen and (max-width: 375px) {
  #hero #hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10vh 90vh auto auto auto auto auto;
}

#header {
  grid-column: 1/span 3;
  grid-row: 1/span 1;
}

#hero {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

#about {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
form #contact-details {
  grid-column: 1/span 1;
  grid-row: 1/span 3;
}
form #message {
  grid-column: 2/span 1;
  grid-row: 1/span 3;
}
form #submit {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
}

#experience {
  grid-column: 2/span 1;
  grid-row: 4/span 1;
}

#portfolio {
  grid-column: 2/span 1;
  grid-row: 5/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 10% auto;
}
#portfolio h1 {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
}
#portfolio .portfolio-website-img-container {
  grid-column: 1/span 1;
  grid-row: 2/span 2;
}
#portfolio .project-info {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
#portfolio .featured-project {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  align-items: flex-end;
}
#portfolio div ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#contact {
  grid-column: 2/span 1;
  grid-row: 6/span 1;
}

#footer {
  grid-column: 2/span 1;
  grid-row: 7/span 1;
}

#aside {
  grid-column: 1/span 1;
  grid-row: 2/span 7;
}

#portfolio .portfolio-website-img-container a {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1400px) {
  #grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10vh 90vh auto auto auto auto auto;
  }
}
@media only screen and (max-width: 1200px) {
  #grid-container {
    grid-template-columns: 5% 90% 5%;
  }

  #header {
    grid-row: 1/span 1;
  }

  #hero {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }

  #about {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    grid-template-columns: 1fr;
  }

  #experience {
    grid-column: 2/span 1;
    grid-row: 4/span 1;
  }

  #contact {
    grid-column: 2/span 1;
    grid-row: 6/span 1;
  }

  #aside {
    grid-column: 2/span 1;
    grid-row: 7/span 1;
  }

  #footer {
    grid-column: 2/span 1;
    grid-row: 8/span 1;
  }
}
@media only screen and (max-width: 900px) {
  #grid-container {
    grid-template-columns: 5% 90% 5%;
  }

  #portfolio {
    grid-column: 2/span 1;
    grid-row: 5/span 1;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
